Flask==1.1.2
requests==2.22.0
httplib2==0.19.0
numpy>=1.9.2
scipy>=0.15.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
plotly==4.6.0
pandas==1.0.0
scikit-learn>=0.18
pandas==1.0.0
jsonschema==3.2.0
pytz==2019.3
setuptools>=41.0.0
tensorflow==2.0.1
keras==2.2.4
zipp==2.1.0
